.imagenbg {
    height: 80vh;
    color: #000;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.titulo {
    font-size: 2.5rem;
}

@media (min-width: 992px) {
    .titulo {
        font-size: 4rem;
        margin: 0;
    }
}